* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #333;
}

ul{
    margin-bottom: 0px;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-left: 20px;
    width: 50%;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-repeat: no-repeat;
}



/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background-color background-image background-repeat background-size .3s ease-in-out;

}

input[type=number] {
    background-color: #ff4500;
    border: none;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #ff0200;
}

ul li {
    list-style-type: none;
}

/* --------------------------------------------------------------- */

.head {
    box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.75);

    background-color: #333;
}


.reset,
.save,
.upload label {
   
    padding: 0px 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.2s;
}


.reset:hover,
.save:hover,
.upload label:hover {
    color: #ff4500 !important;
}

.effect{
    background-color: #333;
}

.effect ul{
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    justify-content: space-between !important;
}

.effect ul::-webkit-scrollbar {
    display: none;
}

.effect ul li {
    padding: 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    
}

.effect ul li:hover{

    color: #ff4500;
}


@media screen and (max-width : 630px) {


    .head {
        margin-bottom: 20px;
    }

    .w-50{
        width: 100% !important;
    }

    .logo {
        text-align: center;
        margin-bottom: 10px;

    }

    .logo h2 {
        font-size: 25px;
    }

    .effect-bar ul label {
        font-size: 18px;
    }


    .effect ul li {
        /* width: 50vw !important; */
        font-size: 15px;
        
    }

   
}